$width-height-icons: 36px;
$width-registration-personal: 48%;
$gap_row_inf: 5vh;
$gap_row_form: 10vh;
$padding_container_lr_standart: 2vw;
$padding_container_lr_med600-900: 4vw;
$padding_container_lr_med0-600: 6vw;